/* src/app/layout/main-layout/main-layout.component.scss */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.sidenav-toolbar {
  background: #f0f0f0;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  padding: 20px;
}

.active-link {
  background-color: rgba(63, 81, 181, 0.1);
  color: #3f51b5;
  font-weight: bold;
}